In [1]:
import pandas as pd

In [54]:
df=pd.read_csv('mtcars.csv')

In [55]:
df

,car_name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [5]:
df.loc[4:,'car_name']

4       Hornet Sportabout
5                 Valiant
6              Duster 360
7               Merc 240D
8                Merc 230
9                Merc 280
10              Merc 280C
11             Merc 450SE
12             Merc 450SL
13            Merc 450SLC
14     Cadillac Fleetwood
15    Lincoln Continental
16      Chrysler Imperial
17               Fiat 128
18            Honda Civic
19         Toyota Corolla
20          Toyota Corona
21       Dodge Challenger
22            AMC Javelin
23             Camaro Z28
24       Pontiac Firebird
25              Fiat X1-9
26          Porsche 914-2
27           Lotus Europa
28         Ford Pantera L
29           Ferrari Dino
30          Maserati Bora
31             Volvo 142E
Name: car_name, dtype: object

In [6]:
df.iloc[:4,3:]

    disp   hp  drat     wt   qsec  vs  am  gear  carb
0  160.0  110  3.90  2.620  16.46   0   1     4     4
1  160.0  110  3.90  2.875  17.02   0   1     4     4
2  108.0   93  3.85  2.320  18.61   1   1     4     1
3  258.0  110  3.08  3.215  19.44   1   0     3     1

In [8]:
df[df['disp']>10]

,car_name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [9]:
df.columns

Index(['car_name', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs',
       'am', 'gear', 'carb'],
      dtype='object')

In [17]:
df.groupby(['cyl','car_name']).count()#.reset_index()

                         mpg  disp  hp  drat  wt  qsec  vs  am  gear  carb
cyl car_name
4   Datsun 710             1     1   1     1   1     1   1   1     1     1
    Fiat 128               1     1   1     1   1     1   1   1     1     1
    Fiat X1-9              1     1   1     1   1     1   1   1     1     1
    Honda Civic            1     1   1     1   1     1   1   1     1     1
    Lotus Europa           1     1   1     1   1     1   1   1     1     1
    Merc 230               1     1   1     1   1     1   1   1     1     1
    Merc 240D              1     1   1     1   1     1   1   1     1     1
    Porsche 914-2          1     1   1     1   1     1   1   1     1     1
    Toyota Corolla         1     1   1     1   1     1   1   1     1     1
    Toyota Corona          1     1   1     1   1     1   1   1     1     1
    Volvo 142E             1     1   1     1   1     1   1   1     1     1
6   Ferrari Dino           1     1   1     1   1     1   1   1     1     1
    Hornet 4 Drive         1     1   1     1   1     1   1   1     1     1
    Mazda RX4              1     1   1     1   1     1   1   1     1     1
    Mazda RX4 Wag          1     1   1     1   1     1   1   1     1     1
    Merc 280               1     1   1     1   1     1   1   1     1     1
    Merc 280C              1     1   1     1   1     1   1   1     1     1
    Valiant                1     1   1     1   1     1   1   1     1     1
8   AMC Javelin            1     1   1     1   1     1   1   1     1     1
    Cadillac Fleetwood     1     1   1     1   1     1   1   1     1     1
    Camaro Z28             1     1   1     1   1     1   1   1     1     1
    Chrysler Imperial      1     1   1     1   1     1   1   1     1     1
    Dodge Challenger       1     1   1     1   1     1   1   1     1     1
    Duster 360             1     1   1     1   1     1   1   1     1     1
    Ford Pantera L         1     1   1     1   1     1   1   1     1     1
    Hornet Sportabout      1     1   1     1   1     1   1   1     1     1
    Lincoln Continental    1     1   1     1   1     1   1   1     1     1
    Maserati Bora          1     1   1     1   1     1   1   1     1     1
    Merc 450SE             1     1   1     1   1     1   1   1     1     1
    Merc 450SL             1     1   1     1   1     1   1   1     1     1
    Merc 450SLC            1     1   1     1   1     1   1   1     1     1
    Pontiac Firebird       1     1   1     1   1     1   1   1     1     1

In [20]:
df[['cyl','disp']].agg(sum)

cyl      198.0
disp    7383.1
dtype: float64

In [28]:
df.groupby(['car_name','cyl']).agg({'mpg':[max,min],'disp':['mean',max,'count',sum,]}).sort_values(by='cyl',ascending=True)

                          mpg         disp
                          max   min   mean    max count    sum
car_name            cyl
Lotus Europa        4    30.4  30.4   95.1   95.1     1   95.1
Toyota Corona       4    21.5  21.5  120.1  120.1     1  120.1
Toyota Corolla      4    33.9  33.9   71.1   71.1     1   71.1
Porsche 914-2       4    26.0  26.0  120.3  120.3     1  120.3
Merc 240D           4    24.4  24.4  146.7  146.7     1  146.7
Merc 230            4    22.8  22.8  140.8  140.8     1  140.8
Honda Civic         4    30.4  30.4   75.7   75.7     1   75.7
Fiat X1-9           4    27.3  27.3   79.0   79.0     1   79.0
Volvo 142E          4    21.4  21.4  121.0  121.0     1  121.0
Datsun 710          4    22.8  22.8  108.0  108.0     1  108.0
Fiat 128            4    32.4  32.4   78.7   78.7     1   78.7
Merc 280C           6    17.8  17.8  167.6  167.6     1  167.6
Merc 280            6    19.2  19.2  167.6  167.6     1  167.6
Mazda RX4 Wag       6    21.0  21.0  160.0  160.0     1  160.0
Mazda RX4           6    21.0  21.0  160.0  160.0     1  160.0
Ferrari Dino        6    19.7  19.7  145.0  145.0     1  145.0
Hornet 4 Drive      6    21.4  21.4  258.0  258.0     1  258.0
Valiant             6    18.1  18.1  225.0  225.0     1  225.0
Maserati Bora       8    15.0  15.0  301.0  301.0     1  301.0
Lincoln Continental 8    10.4  10.4  460.0  460.0     1  460.0
Hornet Sportabout   8    18.7  18.7  360.0  360.0     1  360.0
Dodge Challenger    8    15.5  15.5  318.0  318.0     1  318.0
Duster 360          8    14.3  14.3  360.0  360.0     1  360.0
Ford Pantera L      8    15.8  15.8  351.0  351.0     1  351.0
Merc 450SE          8    16.4  16.4  275.8  275.8     1  275.8
Merc 450SL          8    17.3  17.3  275.8  275.8     1  275.8
Merc 450SLC         8    15.2  15.2  275.8  275.8     1  275.8
Pontiac Firebird    8    19.2  19.2  400.0  400.0     1  400.0
Chrysler Imperial   8    14.7  14.7  440.0  440.0     1  440.0
Camaro Z28          8    13.3  13.3  350.0  350.0     1  350.0
Cadillac Fleetwood  8    10.4  10.4  472.0  472.0     1  472.0
AMC Javelin         8    15.2  15.2  304.0  304.0     1  304.0

In [29]:
df[['cyl','disp']].agg('mean')

cyl       6.187500
disp    230.721875
dtype: float64

In [32]:
df.groupby(['cyl','car_name']).agg('mean')

                          mpg   disp     hp  drat     wt   qsec   vs   am  \
cyl car_name
4   Datsun 710           22.8  108.0   93.0  3.85  2.320  18.61  1.0  1.0
    Fiat 128             32.4   78.7   66.0  4.08  2.200  19.47  1.0  1.0
    Fiat X1-9            27.3   79.0   66.0  4.08  1.935  18.90  1.0  1.0
    Honda Civic          30.4   75.7   52.0  4.93  1.615  18.52  1.0  1.0
    Lotus Europa         30.4   95.1  113.0  3.77  1.513  16.90  1.0  1.0
    Merc 230             22.8  140.8   95.0  3.92  3.150  22.90  1.0  0.0
    Merc 240D            24.4  146.7   62.0  3.69  3.190  20.00  1.0  0.0
    Porsche 914-2        26.0  120.3   91.0  4.43  2.140  16.70  0.0  1.0
    Toyota Corolla       33.9   71.1   65.0  4.22  1.835  19.90  1.0  1.0
    Toyota Corona        21.5  120.1   97.0  3.70  2.465  20.01  1.0  0.0
    Volvo 142E           21.4  121.0  109.0  4.11  2.780  18.60  1.0  1.0
6   Ferrari Dino         19.7  145.0  175.0  3.62  2.770  15.50  0.0  1.0
    Hornet 4 Drive       21.4  258.0  110.0  3.08  3.215  19.44  1.0  0.0
    Mazda RX4            21.0  160.0  110.0  3.90  2.620  16.46  0.0  1.0
    Mazda RX4 Wag        21.0  160.0  110.0  3.90  2.875  17.02  0.0  1.0
    Merc 280             19.2  167.6  123.0  3.92  3.440  18.30  1.0  0.0
    Merc 280C            17.8  167.6  123.0  3.92  3.440  18.90  1.0  0.0
    Valiant              18.1  225.0  105.0  2.76  3.460  20.22  1.0  0.0
8   AMC Javelin          15.2  304.0  150.0  3.15  3.435  17.30  0.0  0.0
    Cadillac Fleetwood   10.4  472.0  205.0  2.93  5.250  17.98  0.0  0.0
    Camaro Z28           13.3  350.0  245.0  3.73  3.840  15.41  0.0  0.0
    Chrysler Imperial    14.7  440.0  230.0  3.23  5.345  17.42  0.0  0.0
    Dodge Challenger     15.5  318.0  150.0  2.76  3.520  16.87  0.0  0.0
    Duster 360           14.3  360.0  245.0  3.21  3.570  15.84  0.0  0.0
    Ford Pantera L       15.8  351.0  264.0  4.22  3.170  14.50  0.0  1.0
    Hornet Sportabout    18.7  360.0  175.0  3.15  3.440  17.02  0.0  0.0
    Lincoln Continental  10.4  460.0  215.0  3.00  5.424  17.82  0.0  0.0
    Maserati Bora        15.0  301.0  335.0  3.54  3.570  14.60  0.0  1.0
    Merc 450SE           16.4  275.8  180.0  3.07  4.070  17.40  0.0  0.0
    Merc 450SL           17.3  275.8  180.0  3.07  3.730  17.60  0.0  0.0
    Merc 450SLC          15.2  275.8  180.0  3.07  3.780  18.00  0.0  0.0
    Pontiac Firebird     19.2  400.0  175.0  3.08  3.845  17.05  0.0  0.0

                         gear  carb
cyl car_name
4   Datsun 710            4.0   1.0
    Fiat 128              4.0   1.0
    Fiat X1-9             4.0   1.0
    Honda Civic           4.0   2.0
    Lotus Europa          5.0   2.0
    Merc 230              4.0   2.0
    Merc 240D             4.0   2.0
    Porsche 914-2         5.0   2.0
    Toyota Corolla        4.0   1.0
    Toyota Corona         3.0   1.0
    Volvo 142E            4.0   2.0
6   Ferrari Dino          5.0   6.0
    Hornet 4 Drive        3.0   1.0
    Mazda RX4             4.0   4.0
    Mazda RX4 Wag         4.0   4.0
    Merc 280              4.0   4.0
    Merc 280C             4.0   4.0
    Valiant               3.0   1.0
8   AMC Javelin           3.0   2.0
    Cadillac Fleetwood    3.0   4.0
    Camaro Z28            3.0   4.0
    Chrysler Imperial     3.0   4.0
    Dodge Challenger      3.0   2.0
    Duster 360            3.0   4.0
    Ford Pantera L        5.0   4.0
    Hornet Sportabout     3.0   2.0
    Lincoln Continental   3.0   4.0
    Maserati Bora         5.0   8.0
    Merc 450SE            3.0   3.0
    Merc 450SL            3.0   3.0
    Merc 450SLC           3.0   3.0
    Pontiac Firebird      3.0   2.0

In [33]:
df.head(5)

,car_name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [39]:
pd.pivot_table(df,values='disp',
              index='car_name',
              columns='cyl',
              aggfunc=['mean','count']).reset_index()

                car_name   mean               count
cyl                           4      6      8     4    6    8
0            AMC Javelin    NaN    NaN  304.0   NaN  NaN  1.0
1     Cadillac Fleetwood    NaN    NaN  472.0   NaN  NaN  1.0
2             Camaro Z28    NaN    NaN  350.0   NaN  NaN  1.0
3      Chrysler Imperial    NaN    NaN  440.0   NaN  NaN  1.0
4             Datsun 710  108.0    NaN    NaN   1.0  NaN  NaN
5       Dodge Challenger    NaN    NaN  318.0   NaN  NaN  1.0
6             Duster 360    NaN    NaN  360.0   NaN  NaN  1.0
7           Ferrari Dino    NaN  145.0    NaN   NaN  1.0  NaN
8               Fiat 128   78.7    NaN    NaN   1.0  NaN  NaN
9              Fiat X1-9   79.0    NaN    NaN   1.0  NaN  NaN
10        Ford Pantera L    NaN    NaN  351.0   NaN  NaN  1.0
11           Honda Civic   75.7    NaN    NaN   1.0  NaN  NaN
12        Hornet 4 Drive    NaN  258.0    NaN   NaN  1.0  NaN
13     Hornet Sportabout    NaN    NaN  360.0   NaN  NaN  1.0
14   Lincoln Continental    NaN    NaN  460.0   NaN  NaN  1.0
15          Lotus Europa   95.1    NaN    NaN   1.0  NaN  NaN
16         Maserati Bora    NaN    NaN  301.0   NaN  NaN  1.0
17             Mazda RX4    NaN  160.0    NaN   NaN  1.0  NaN
18         Mazda RX4 Wag    NaN  160.0    NaN   NaN  1.0  NaN
19              Merc 230  140.8    NaN    NaN   1.0  NaN  NaN
20             Merc 240D  146.7    NaN    NaN   1.0  NaN  NaN
21              Merc 280    NaN  167.6    NaN   NaN  1.0  NaN
22             Merc 280C    NaN  167.6    NaN   NaN  1.0  NaN
23            Merc 450SE    NaN    NaN  275.8   NaN  NaN  1.0
24            Merc 450SL    NaN    NaN  275.8   NaN  NaN  1.0
25           Merc 450SLC    NaN    NaN  275.8   NaN  NaN  1.0
26      Pontiac Firebird    NaN    NaN  400.0   NaN  NaN  1.0
27         Porsche 914-2  120.3    NaN    NaN   1.0  NaN  NaN
28        Toyota Corolla   71.1    NaN    NaN   1.0  NaN  NaN
29         Toyota Corona  120.1    NaN    NaN   1.0  NaN  NaN
30               Valiant    NaN  225.0    NaN   NaN  1.0  NaN
31            Volvo 142E  121.0    NaN    NaN   1.0  NaN  NaN

In [40]:
l1=[{"city":"mysore","Population":100},{"city":"Hyderabad","Population":200},
                     {"city":"chennai","Population":300},{"city":"Punjab","Population":400}]
print(l1)

[{'city': 'mysore', 'Population': 100}, {'city': 'Hyderabad', 'Population': 200}, {'city': 'chennai', 'Population': 300}, {'city': 'Punjab', 'Population': 400}]

In [43]:
df1=pd.DataFrame([{'name':'Mohan','Occupation':'Software','id':419},
                 {'name':'Nithin','Occupation':'Civil','id':420},
                 {'name':'Subash','Occupation':'Mechanical Engineer','id':421}])

In [92]:
df1

     name           Occupation   id
0   mohan             Software  419
1  nithin                Civil  420
2  subash  Mechanical Engineer  421

In [108]:
import numpy as np

In [109]:
df1['name']=df1['name'].apply(np.str)

C:\Users\Mohan\AppData\Local\Temp\ipykernel_21060\796912688.py:1: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  df1['name']=df1['name'].apply(np.str)

In [110]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        3 non-null      object
 1   Occupation  3 non-null      object
 2   id          3 non-null      object
dtypes: object(3)
memory usage: 200.0+ bytes

In [114]:
df1[['id','Occupation']]=df1[['id','Occupation']].astype(str)

In [118]:
df1

     name           Occupation   id
0   mohan             Software  419
1  nithin                Civil  420
2  subash  Mechanical Engineer  421

In [119]:
df1.dtypes

name          object
Occupation    object
id            object
dtype: object

In [120]:
df['mpg'].agg('mean')

20.090624999999996

In [57]:
len(df)

32

In [58]:
df.fillna(0)

,car_name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [59]:
df[['mpg','disp']].fillna(0)

     mpg   disp
0   21.0  160.0
1   21.0  160.0
2   22.8  108.0
3   21.4  258.0
4   18.7  360.0
5   18.1  225.0
6   14.3  360.0
7   24.4  146.7
8   22.8  140.8
9   19.2  167.6
10  17.8  167.6
11  16.4  275.8
12  17.3  275.8
13  15.2  275.8
14  10.4  472.0
15  10.4  460.0
16  14.7  440.0
17  32.4   78.7
18  30.4   75.7
19  33.9   71.1
20  21.5  120.1
21  15.5  318.0
22  15.2  304.0
23  13.3  350.0
24  19.2  400.0
25  27.3   79.0
26  26.0  120.3
27  30.4   95.1
28  15.8  351.0
29  19.7  145.0
30  15.0  301.0
31  21.4  121.0

In [60]:
df.columns

Index(['car_name', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs',
       'am', 'gear', 'carb'],
      dtype='object')

In [62]:
def mpg_cyl(disp1):
    if(disp1==160.0):
        return 1
    else:
        return 2

In [64]:
df['mpg_cyl']=df['disp'].apply(mpg_cyl)

In [65]:
df

,car_name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,mpg_cyl
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,1
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,1
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,2
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1,2
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1,2
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4,2
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4,2
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4,2
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3,2
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3,2
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3,2
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4,2
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4,2
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4,2
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1,2
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1,2
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1,2
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4,2
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1,2
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4,2
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6,2
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8,2
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2,2

In [85]:
df.applymap(lambda x:len(str(x)),inplace=True)

TypeError: <lambda>() got an unexpected keyword argument 'inplace'

In [ ]:
df.applymap(lambda x:len(str(x)))

In [121]:
df.dropna(axis=0)

,car_name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,mpg_cyl
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,1
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,1
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,2
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1,2
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1,2
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4,2
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4,2
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4,2
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3,2
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3,2
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3,2
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4,2
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4,2
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4,2
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1,2
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1,2
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1,2
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4,2
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1,2
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4,2
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6,2
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8,2
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2,2

In [127]:
df[['mpg','cyl']].fillna(df['disp'].mean(),inplace=True)

C:\Users\Mohan\AppData\Local\Temp\ipykernel_21060\1204711370.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['mpg','cyl']].fillna(df['disp'].mean(),inplace=True)

In [128]:
df

,car_name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,mpg_cyl
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,1
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,1
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,2
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1,2
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1,2
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4,2
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4,2
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4,2
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3,2
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3,2
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3,2
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4,2
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4,2
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4,2
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1,2
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1,2
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1,2
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4,2
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1,2
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4,2
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6,2
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8,2
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2,2

In [135]:
df['mpg'].fillna({'disp':['mean','sum']},inplace=True)

In [136]:
df

,car_name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,mpg_cyl
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,1
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,1
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,2
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1,2
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1,2
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4,2
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4,2
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4,2
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3,2
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3,2
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3,2
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4,2
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4,2
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4,2
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1,2
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1,2
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1,2
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4,2
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1,2
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4,2
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6,2
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8,2
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2,2

In [137]:
df.rename(columns={'mpg':'mpg1','cyl':'cyl1'},inplace=True)

In [138]:
df

,car_name,mpg1,cyl1,disp,hp,drat,wt,qsec,vs,am,gear,carb,mpg_cyl
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,1
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,1
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,2
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1,2
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1,2
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4,2
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4,2
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4,2
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3,2
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3,2
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3,2
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4,2
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4,2
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4,2
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1,2
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1,2
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1,2
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4,2
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1,2
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4,2
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6,2
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8,2
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2,2

In [144]:
df.loc[{'hp':110,'car_name':'Hornet 4 Drive'},['cyl1','disp']]

C:\Users\Mohan\AppData\Local\Temp\ipykernel_21060\805075392.py:1: FutureWarning: Passing a dict as an indexer is deprecated and will raise in a future version. Use a list instead.
  df.loc[{'hp':110,'car_name':'Hornet 4 Drive'},['cyl1','disp']]

KeyError: "None of [Index(['hp', 'car_name'], dtype='object')] are in the [index]"

In [145]:
df.sum()

car_name    Mazda RX4Mazda RX4 WagDatsun 710Hornet 4 Drive...
mpg1                                                    642.9
cyl1                                                      198
disp                                                   7383.1
hp                                                       4694
drat                                                   115.09
wt                                                    102.952
qsec                                                   571.16
vs                                                         14
am                                                         13
gear                                                      118
carb                                                       90
mpg_cyl                                                    62
dtype: object

In [146]:
df.drop_duplicates()

,car_name,mpg1,cyl1,disp,hp,drat,wt,qsec,vs,am,gear,carb,mpg_cyl
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,1
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,1
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,2
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1,2
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1,2
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4,2
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4,2
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4,2
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3,2
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3,2
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3,2
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4,2
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4,2
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4,2
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1,2
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1,2
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1,2
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4,2
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1,2
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4,2
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6,2
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8,2
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2,2

In [147]:
import numpy as np

a=np.array([1,2,3])
a

array([1, 2, 3])

In [148]:
a=np.array([[1,2],[3,4]])

In [149]:
a

array([[1, 2],
       [3, 4]])

In [150]:
a=np.array([1,2,3],dtype=complex)

In [151]:
a

array([1.+0.j, 2.+0.j, 3.+0.j])

In [154]:
a=np.arange(24).reshape(4,6)
a

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23]])

In [155]:
a.size

24

In [156]:
a.dtype

dtype('int32')

In [158]:
x=[1,2,3]
a=np.array(x,dtype='float')
a

array([1., 2., 3.])

In [161]:
x=(1,2,3)

a=np.asarray(x)
a

array([1, 2, 3])

In [166]:
x=[(1,2,3),(4,5)]

a=np.asarray(x)
a

C:\Users\Mohan\AppData\Local\Temp\ipykernel_21060\1308062426.py:3: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  a=np.asarray(x)

array([(1, 2, 3), (4, 5)], dtype=object)

In [167]:
x=np.arange(5)
x

array([0, 1, 2, 3, 4])

In [168]:
x=np.arange(5,dtype='float')
x

array([0., 1., 2., 3., 4.])

In [169]:
x=np.arange(10,20,2)
x

array([10, 12, 14, 16, 18])

In [180]:
a=np.arange(10)

s=slice(2,7,2)
s

slice(2, 7, 2)

In [181]:
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [182]:
a[s]

array([2, 4, 6])

In [183]:
a=np.arange(10)

a[:1]

array([0])

In [184]:
a[2:5]

array([2, 3, 4])

In [185]:
arr = np.array([[1,2,3,4,5], [6,7,8,9,10]])

In [186]:
arr

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10]])

In [193]:
arr[:,:3]

array([[1, 2, 3],
       [6, 7, 8]])

In [194]:
rows=np.array([[0,0],[3,3]])

In [195]:
rows

array([[0, 0],
       [3, 3]])

In [196]:
cols=np.array([[0,2],[0,2]])

In [197]:
cols

array([[0, 2],
       [0, 2]])

In [200]:
y=x[[rows,cols]]
y

C:\Users\Mohan\AppData\Local\Temp\ipykernel_21060\3743466539.py:1: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  y=x[[rows,cols]]

IndexError: too many indices for array: array is 1-dimensional, but 2 were indexed

In [205]:
x=np.array([[13,1,2],[3,4,5],[6,7,8],[9,10,11]])
x

array([[13,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [203]:
x[x>1]

array([ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [209]:
b=np.array([10,20,30])

c=x+b

In [210]:
c

array([[23, 21, 32],
       [13, 24, 35],
       [16, 27, 38],
       [19, 30, 41]])

In [213]:
c.reshape(3,4)

array([[23, 21, 32, 13],
       [24, 35, 16, 27],
       [38, 19, 30, 41]])

In [214]:
c.flatten()

array([23, 21, 32, 13, 24, 35, 16, 27, 38, 19, 30, 41])

In [215]:
c

array([[23, 21, 32],
       [13, 24, 35],
       [16, 27, 38],
       [19, 30, 41]])

In [219]:
c.flat[:2]

array([23, 21])

In [220]:
c

array([[23, 21, 32],
       [13, 24, 35],
       [16, 27, 38],
       [19, 30, 41]])

In [221]:
c.T

array([[23, 13, 16, 19],
       [21, 24, 27, 30],
       [32, 35, 38, 41]])

In [222]:
a1=np.arange(6).reshape(3,2)
a2=np.arange(6).reshape(3,2)

In [223]:
a1,a2

(array([[0, 1],
        [2, 3],
        [4, 5]]),
 array([[0, 1],
        [2, 3],
        [4, 5]]))

In [225]:
np.concatenate((a1,a2),axis=0)

array([[0, 1],
       [2, 3],
       [4, 5],
       [0, 1],
       [2, 3],
       [4, 5]])

In [226]:

a = np.array([[1,2],[3,4]])
b = np.array([[5,6],[7,8]])

In [227]:
ch=np.hstack((a,b))

In [228]:
ch

array([[1, 2, 5, 6],
       [3, 4, 7, 8]])

In [229]:
cv=np.vstack((a,b))

In [230]:
cv

array([[1, 2],
       [3, 4],
       [5, 6],
       [7, 8]])

In [231]:
a=np.arange(9)
b=np.split(a,3)

In [232]:
b

[array([0, 1, 2]), array([3, 4, 5]), array([6, 7, 8])]

In [233]:
b=np.split(a,[4,7])

In [234]:
b

[array([0, 1, 2, 3]), array([4, 5, 6]), array([7, 8])]

In [235]:
a=np.array([[1,2,3],[4,5,6]])

In [236]:
b=np.resize(a,(3,3))

In [237]:
b

array([[1, 2, 3],
       [4, 5, 6],
       [1, 2, 3]])

In [241]:
a=np.array([[1,2,3],[4,5,6]])
b=np.append(a,[[7,8,9],[11,12,13]])

In [242]:
a

array([[1, 2, 3],
       [4, 5, 6]])

In [243]:
b

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 11, 12, 13])

In [244]:
np.insert(a,3,[11,12])

array([ 1,  2,  3, 11, 12,  4,  5,  6])

In [245]:
a=np.arange(12).reshape(3,4)

In [246]:
a

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [247]:
np.delete(a,5)

array([ 0,  1,  2,  3,  4,  6,  7,  8,  9, 10, 11])

In [248]:
np.unique(a)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [249]:
np.char.add(['hello'],['xyz'])

array(['helloxyz'], dtype='<U8')

In [250]:
np.char.capitalize('hello world')

array('Hello world', dtype='<U11')

In [251]:
np.char.title('hello how are you?')

array('Hello How Are You?', dtype='<U18')

In [252]:
np.char.lower(['Hello','WORLD'])

array(['hello', 'world'], dtype='<U5')

In [256]:
np.char.strip('aman abbya','  ')

array('aman abbya', dtype='<U10')

In [257]:
np.char.join(':','dmy')

array('d:m:y', dtype='<U5')

In [258]:
a=np.array([1,2,5,7,3,4])
np.sort(a)

array([1, 2, 3, 4, 5, 7])

In [259]:
x=np.arange(9.).reshape(3,3)

In [260]:
x

array([[0., 1., 2.],
       [3., 4., 5.],
       [6., 7., 8.]])

In [261]:
y=np.where(x>3)

In [262]:
y

(array([1, 1, 2, 2, 2], dtype=int64), array([1, 2, 0, 1, 2], dtype=int64))

In [263]:
x[y]

array([4., 5., 6., 7., 8.])

In [265]:
np.count(x,axis=0)

AttributeError: module 'numpy' has no attribute 'count'